<h1>Squad Analysis Results</h1>

<p><%= link_to 'Upload a New Squad File', new_squad_analysis_path %></p>

<%# Only show the results if @first_team has been populated %>
<% if @first_team.present? %>
  <hr>
  <div style="display: flex; flex-wrap: wrap; gap: 40px;">
    <div>
      <h2>First Team</h2>
      <table>
        <thead>
          <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% @first_team.sort_by { |p| p[:position] }.each do |player_hash| %>
            <tr>
              <td><%= player_hash[:position].to_s.sub(/_\d+$/, '') %></td>
              <td>
                <% player = @players_by_name[player_hash[:name]] %>
                <% if player %>
                  <%= link_to player.name, player_path(player) %>
                <% else %>
                  <%= player_hash[:name] %>
                <% end %>
              </td>
              <td><%= player_hash[:score].round(2) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div>
      <h2>Second Team</h2>
      <table>
        <thead>
          <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% @second_team.sort_by { |p| p[:position] }.each do |player_hash| %>
            <tr>
              <td><%= player_hash[:position].to_s.sub(/_\d+$/, '') %></td>
              <td>
                <% player = @players_by_name[player_hash[:name]] %>
                <% if player %>
                  <%= link_to player.name, player_path(player) %>
                <% else %>
                  <%= player_hash[:name] %>
                <% end %>
              </td>
              <td><%= player_hash[:score].round(2) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div>
      <h2>Third Team</h2>
      <table>
        <thead>
          <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% @third_team.sort_by { |p| p[:position] }.each do |player_hash| %>
            <tr>
              <td><%= player_hash[:position].to_s.sub(/_\d+$/, '') %></td>
              <td>
                <% player = @players_by_name[player_hash[:name]] %>
                <% if player %>
                  <%= link_to player.name, player_path(player) %>
                <% else %>
                  <%= player_hash[:name] %>
                <% end %>
              </td>
              <td><%= player_hash[:score].round(2) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <h2>Rest of Squad (Best Positions)</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Best Position</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <%# Sort by score in descending order (highest first) %>
      <% @remainder.sort_by { |p| -p[:score] }.each do |player_hash| %>
        <tr>
          <td><%= player_hash[:position].to_s.sub(/_\d+$/, '') %></td>
          <td>
            <% player = @players_by_name[player_hash[:name]] %>
            <% if player %>
              <%= link_to player.name, player_path(player) %>
            <% else %>
              <%= player_hash[:name] %>
            <% end %>
          </td>
          <td><%= player_hash[:score].round(2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <hr>
  <p>No squad data has been analyzed yet. Please upload a file to begin.</p>
<% end %>